{% extends "ADMCUserBundle::layout.html.twig" %}


{% block ADMCUser_body %}
    
{#    <div class="well">
        {{form(form)}}
    </div>#}
    
<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.Logiciel, "Logiciel", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
        {{ form_errors(form.Logiciel) }}
        <div class="col-sm-4">
            {{ form_widget(form.Logiciel, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>    

    
    <a href="{{ path("admcrh_user_created") }}" >
        {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
    </a>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

    
    
{% endblock %}
